<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<base href="[(site_url)]"></base>
<link rel="shortcut icon" href="assets/templates/cd/i/cd_ico.gif" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<meta http-equiv="Content-Language" content="ru"/>
[[newyear]]
[+smfheaderhtml+]
<title>[(site_name)] - [*longtitle*]</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-982829-21']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="page">
<div class="page">   
    {{TopMenu}}             
    <div id="page_abs_forum">   
    
    <div id="header_for_forum">          
    <div class="logo_line">
        <div class="logo"><a href="/"></a></div>
        <div class="logo_right">
        <!--Home menu -->
        {{HomeLinks}}
        <!--Home menu -->
        </div>
    </div>
    </div>           
    {{ClietAgentProb}}               
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
            [*content*]
            </td>
        </tr>
        <tr>
            <td>
            <div class="footer">
                [!InfoBlock?&docid=`100` &id=`block100` &cache=`1` &cacheScale=`global`!]
            </div>   
            </td>
        </tr>                
    </table>    
    </div>
</div>
</div>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter8163982 = new Ya.Metrika({id:8163982, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/8163982" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
    
