.menu {
	font-family: arial, sans-serif; 
	/*width:1010px;*/ 
	margin:0; 
	margin:0px 0 0px 0;
	/*position:relative;*/
	z-index:9997;
	/*border:1px solid black;*/
	/*border-top:1px solid #7bbb02;*/
	
}
.menu ul {
	z-index:9997;
	
	padding:0; 
	margin:0;
	list-style:none outside none;
	font-size:0;
	position:relative;
	 
	 text-align:center;
}
.menu ul li {
	list-style:none outside none;
	display:block;
	padding:0;
	margin:0;
	/*float:left;*/
	
  	display:-moz-inline-stack;/*ff2*/
  	display:inline-block;
  	_overflow:hidden;/*ie6-7*/
  	*zoom:1;/*ie6-7*/
  	*display:inline;/*ie6-7*/
 	 
	position:relative;
	
	font-size:13px;
	height:43px;
	line-height:43px;
	
	white-space: nowrap;
	
	/*background: right top repeat-x url(../images/menu-item-bg.png);*/
	background: right -43px repeat-x url(../images/menu.png);
	
	min-width:110px;
	
}
.menu ul li.last{
	background-position: -550px -43px;
}	
.menu ul li a, .menu ul li a:visited {
	display:block;
	padding:0 15px;
	text-decoration:none;
	color:#f6fda3;
	
	font-style:italic;
	text-align:center;
	font-weight:bold;
	
	font-family:/*Georgia, */Arial, Helvetica, Sans-Serif;
}
.menu ul li:hover, .menu ul li.menuover{
	/*color:#000;*/
	background-position: right -86px;
	/*background-image:url(../images/menu-item-bg-hover.png);*/
}
.menu ul li.last:hover, .menu ul li.last.menuover{
	background-position: -550px -86px;
}
.menu ul li:hover a, .menu ul li.menuover a{
	/*color:#000;*/
}
/*second level*/
.menu ul li ul {
	display: none;
	position:absolute;
	left:0;
	top:40px;
}
.menu ul li ul li{
	display:block;
	
	font-family:Arial, Helvetica, Sans-Serif;
	
	height:30px;
	line-height:30px;
	text-align:left;
	
	float:none;
	border:1px solid #7bbb02;
	border-width:1px 0 0 0;
	
	font-size:0;
	
	_width:1px;
}
.menu ul li ul li a, .menu ul li ul li a:visited{
	font-size:12px;
	font-weight:normal;
}
.menu ul li:hover ul li a, .menu ul li.menuover ul li a{
	color:#f35c07;
	background:#ffd530;
	text-align:left;
}
.menu ul li ul li a:hover{
	background:#ffea77;
}
.menu ul li:hover ul li, .menu ul li.menuover ul li{
	width: expression(this.parentNode.clientWidth + "px");
}
.menu ul li:hover ul, .menu ul li.menuover ul {
	display:block; 
}
